includes:
    - %currentWorkingDirectory%/vendor/narrowspark/coding-standard/base_rules.neon
    - %currentWorkingDirectory%/phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        -  %currentWorkingDirectory%/src
        -  %currentWorkingDirectory%/tests

    tmpDir: %currentWorkingDirectory%/.build/phpstan

    excludes_analyse:
        - %currentWorkingDirectory%/src/MimeTypesList.php
        - %currentWorkingDirectory%/src/MimeTypeExtensionGuesser.php
